*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
* {padding: 0;margin: 0;}
html {
	height: 100%;
}

body {
	background: #36385C;
	font-size: 13px;
	line-height: 1.25;
	height: 100%;
	font-family: 'Lato', Arial, sans-serif;
}

body.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
body.center.column {
	flex-direction: column;
}

*:focus {
	outline: none;
}

.title {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	color: rgba(255,255,255,0.2);
}

section {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}