// using compass and SASS functions
// 		- transition
//		- adjust-lightness($color, $amount)
//		- image-url

// see http://compass-style.org/reference/compass/css3/

@import "compass";

$color-default-green: #16a085;
$color-default-grey: #838993;
$color-default-red: #c0392b;

@mixin round-button ($bgColor, $hoverBgColor : adjust-lightness($bgColor, -15%) ) {
	background: $bgColor;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.6em 3em;

	@include border-radius(1.5em);

	border: none;
	position: relative;
	overflow: hidden;
	margin: 1em;

	@include transition(background .5s linear);

	&:hover, &:focus {
		background: $hoverBgColor;
	}
}


.primary-button {
	@include round-button($color-default-green);
	
	span {
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -0.5em;
		width: image-width('tick.png');
		height: image-height('tick.png');
		background: image-url('tick.png') 0 0 no-repeat scroll;
	}
} 

.danger-button {
	@include round-button($color-default-red);
	
	span {
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -0.5em;
		width: image-width('cross.png');
		height: image-height('cross.png');
		background: image-url('cross.png') 0 0 no-repeat scroll;
	}
} 

.secondary-button {
	@include round-button($color-default-grey);

	span {
		position: absolute;
		left: 1em;
		top: 50%;
		margin-top: -0.5em;
	}
} 
