// using mixins

@mixin round-button ($bgColor, $hoverBgColor) {
	background: $bgColor;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	display: inline-block;
	padding: 0.6em 3em;
	border-radius: 1.5em;
	border: none;
	position: relative;
	overflow: hidden;
	margin: 1em;


	&:hover, &:focus {
		background: $hoverBgColor;
	}
}


.primary-button {
	@include round-button(#16a085, #138a72);
	
	span {
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -0.5em;
	}
} 

.secondary-button {
	@include round-button(#838993, #767c87);

	span {
		position: absolute;
		left: 1em;
		top: 50%;
		margin-top: -0.5em;
	}
} 