[class^="browsers-"] {
  display: inline-block;
  width: 256px;
  height: 256px;
}

/* example using loop @each */
.logo-chrome {
  background: url('../../images/browsers/chrome.png?1407368629') 0 0 no-repeat scroll;
}

.logo-firefox {
  background: url('../../images/browsers/firefox.png?1407368629') 0 0 no-repeat scroll;
}

.logo-safari {
  background: url('../../images/browsers/safari.png?1407368629') 0 0 no-repeat scroll;
}

.logo-internet-explorer {
  background: url('../../images/browsers/internet-explorer.png?1407368629') 0 0 no-repeat scroll;
}

.logo-opera {
  background: url('../../images/browsers/opera.png?1407368629') 0 0 no-repeat scroll;
}

/* example using compass spriting */
.browsers-sprite, .browsers-chrome, .browsers-firefox, .browsers-internet-explorer, .browsers-opera, .browsers-safari, .browsers-ie {
  background: url('../../images/browsers-s7524dcdddd.png') no-repeat;
}

.browsers-chrome {
  background-position: 0 -768px;
}

.browsers-firefox {
  background-position: 0 -256px;
}

.browsers-internet-explorer {
  background-position: 0 -512px;
}

.browsers-opera {
  background-position: 0 -1024px;
}

.browsers-safari {
  background-position: 0 0;
}

.browsers-ie {
  background-position: 0 -512px;
}
