[class^="browsers-"] {
  display: inline-block;
  width: 256px;
  height: 256px;
}

.browsers-chrome {
  background: url('../../images/browsers/chrome.png?1407320770') 0 0 no-repeat scroll;
}

.browsers-firefox {
  background: url('../../images/browsers/firefox.png?1407320856') 0 0 no-repeat scroll;
}

.browsers-safari {
  background: url('../../images/browsers/safari.png?1407322394') 0 0 no-repeat scroll;
}

.browsers-internet-explorer {
  background: url('../../images/browsers/internet-explorer.png?1407320884') 0 0 no-repeat scroll;
}

.browsers-opera {
  background: url('../../images/browsers/opera.png?1407320939') 0 0 no-repeat scroll;
}
